{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion des produit{% endblock %}</title>
    <!-- Inclure ici vos liens vers les fichiers CSS, JavaScript ou autres ressources -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>
<body>
    <header>
        <h1>Gestion des produits</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'list' %}">Liste des Produits</a></li>
            <li><a href="{% url 'create' %}">Cree un Produit</a></li>
            <!-- Ajouter d'autres liens de navigation si nécessaire -->
        </ul>
    </nav>
    <div id="content">
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2023 Product. Tous droits réservés.</p>
    </footer>
</body>
</html>
